<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>

    <link rel="stylesheet" href="Profile.css">
</head>
<body>
    <section class="profile">
        <div class="profile-image">
            <div class="bannerimg">
                <img src="./Profilebg.png" alt="">
            </div>
            <div class="profileimg">
                <img src="./Profile img.jpg" alt="">
            </div>
        </div>
        <div class="profile-content">
            <div class="profile-content1">
                <h1><a href="">...</a></h1>
            </div>
            <div class="profileName">
                <h1>Jagdish</h1>
            </div>
            <div class="profileServiceName">
                <h1>Home Service Provider</h1>
            </div>
            <div class="profileServiceName">
                <p><Span>4.5</Span>  stars</p>
                <p><Span>132</Span>  reviews</p>
            </div>
            <div class="profileServiceLocation">
                <div>
                    <i class="fa-solid fa-location-dot"></i> <p>Location</p>

                <!-- </div>
                <div> -->
                    <i class="fa-regular fa-calendar-days"></i><p>Date Joined</p>
                </div>
            </div>
        </div>

        <div class="feedbackHeading">
            <h1>Feedback</h1>
        </div>

        <div class="feedback">
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            <div class="feedback-card">
                <div class="feedbackhead">
                    <img src="./Profile img.jpg" alt="">
                    <h1>Cusomer Name</h1>
                    <div class="feedback-rating">
                        <h1>Rating: </h1><p>3.5/5</p>
                    </div>
                </div>
                <div class="feedbackbody">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Libero cum fugit, consequatur neque et nisi necessitatibus quas doloremque, corporis tenetur molestias voluptas consequuntur quaerat dolor dolorem harum sit quos ullam ea perspiciatis, non laboriosam.</p>
                </div>
            </div>
            
            
        </div>

        <div class="Blogsheading">
            <h1>Blogs</h1>
        </div>

        <div class="blogsSection">
            <div class="blogcard">
                <div class="bloghead">
                    <img src="./Profile img.jpg" alt="">
                </div>
                <div class="blog-label">
                    <p><a href="">Health</a></p>
                </div>
                <div class="blog-card-body">
                    <h1>Blog name comes hereBlog name comes here</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti!</p>
                    <button><a href="">Read More...</a></button>
                </div>
            </div>
            <div class="blogcard">
                <div class="bloghead">
                    <img src="./Profile img.jpg" alt="">
                </div>
                <div class="blog-label">
                    <p><a href="">Health</a></p>
                </div>
                <div class="blog-card-body">
                    <h1>Blog name comes hereBlog name comes here</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti!</p>
                    <button><a href="">Read More...</a></button>
                </div>
            </div>
            <div class="blogcard">
                <div class="bloghead">
                    <img src="./Profile img.jpg" alt="">
                </div>
                <div class="blog-label">
                    <p><a href="">Health</a></p>
                </div>
                <div class="blog-card-body">
                    <h1>Blog name comes hereBlog name comes here</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti! Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim nihil praesentium incidunt nemo ratione molestiae fugit rem, provident corporis facere qui officia est ipsum quaerat necessitatibus ipsa quibusdam molestias accusantium eligendi perferendis? Commodi, deleniti!</p>
                    <button><a href="">Read More...</a></button>
                </div>
            </div>
            
        </div>
    </section>


    <script src="https://kit.fontawesome.com/12aa20a36f.js" crossorigin="anonymous"></script>
    
</body>
</html>