<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="Createservice.css">
</head>
<body>
    <div class="container">
        <h2>Create A Care Service</h2>
        <form action="#">
            <label for="title">Service Title:</label>
            <input type="text" id="title" name="title" placeholder="for eg:- Care Support" required>
    
            <label for="description">Description of Service:</label>
            <textarea id="description" name="description" rows="4" placeholder="Discribe The Care Service You Need." required></textarea>
    
            <label for="from_time">From Time:</label>
            <input type="time" id="from_time" name="from_time" required>

            <label for="to_time">To Time:</label>
            <input type="time" id="to_time" name="to_time" required>
            <br>
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" placeholder="for eg:- New York." required>
    
            <label for="duration">Duration of Service:</label>
            <input type="text" id="duration" name="duration" placeholder="4 Months." required>
    
            <label for="special_requests">Special Requests or Preferences:</label>
            <textarea id="special_requests" name="special_requests" placeholder="Please Mention any Special Requests." rows="4"></textarea>
    
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" placeholder="John Deo" required>
    
            <label for="phone">Phone:</label>
            <input type="tel" id="phone" name="phone" placeholder="987654321" required>
    
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" placeholder="JohnDeo@gmail.com" required>
    
            <input type="submit" value="Submit">
        </form>
    </div>
    
</body>
</html>