<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Care Givers</title>
    <link rel="stylesheet" href="dispCareTakers.css">
</head>
<body>
    <section id="Caregivers-display">
        <div class="each-careGivers">
            <div class="basicDetails-caregivers">
                <div class="name-caregivers">
                    <h2>UserName</h2>
                    <h2>Availability : <Span>Time</Span></h2>
                    <h2>Services Offered:</h2>
                    <p>Service1,service2</p>
                </div>
                <div class="image-caregivers">
                    <img src="./User-Image-caregiver.jpg" alt="No Source">
                </div>

            </div>
            <div class="Experience-careGivers">
                <h2>Experience</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat distinctio ipsum sapiente enim dolores non, beatae magnam reprehenderit esse exercitationem soluta ab. Sunt quos nam commodi qui quis eligendi, nesciunt nulla odit perferendis optio.</p>
            </div>
        </div>
    </section>
    
</body>
</html>