<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="services.css">
</head>
<body>
    <div class="top-bg">
        <h1> Our Services</h1>
        <img src="./OurServicesBg.jpg" alt="No Image">
    </div>
    <div class="ourServicesHeading">
        <h1>At GoldenAge Support, we are dedicated to providing compassionate care and support services tailored to the unique needs of seniors and their families. Our team of experienced professionals is committed to enhancing the quality of life for our clients by offering a comprehensive range of services designed to promote independence, well-being, and dignity. Explore our services below:</h1>
    </div>
    <section id="Services">
        <div class="service-card">
            <img src="./image/home.svg" alt="No Source">
            <h1>Home Care Services</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/health.svg" alt="No Source">
            <h1>Health Monitoring and Management</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/transportation.svg" alt="No Source">
            <h1>Transportation Assistance</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/nutrition.svg" alt="No Source">
            <h1>Nutrition Planning and Meal Services</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/social.svg" alt="No Source">
            <h1>Social Engagement and Activities</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/safety.svg" alt="No Source">
            <h1>Home Safety Assessments and Modifications</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/pet.svg" alt="No Source">
            <h1>Pet Care Services</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>
        <div class="service-card">
            <img src="./image/question.svg" alt="No Source">
            <h1>Memory Care Support</h1>
            <p>Our home care services are tailored to provide personalized assistance with activities of daily living (ADLs) in the comfort of your own home. From bathing and grooming to meal preparation and medication reminders, our compassionate caregivers are here to support you every step of the way.</p>
        </div>


    </section>
    
</body>
</html>