<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="community.css">
</head>
<body>

    <section id="cp-section">
        <div class="ls-sec">
            <ul>
                <li><img src="./images/home.png" alt=""> Home</li>
                <li><img src="./images/community.png" alt="">Community</li>
                <li class="ls-gap"></li>
                <li class="c-label"><img src="./images/label.png" alt="">Labels</li>
                <li class="labels5">Events and Activities</li>
                <li class="labels5">Health and Wellness</li>
                <li class="labels5">Community News</li>
                <li class="labels5">Volunteer Opportunities</li>
                <li class="labels5">Lifestyle and Hobbies</li>
            </ul>
        </div>

        <div class="cs-sec">
            <div class="cs-heading"><h1>Welcome To Our Community Page</h1></div>
            <hr>
            <div class="commu-card">
                <div class="commu-head">
                    <img src="./images/user.png" alt="" />
                    <h1>User name</h1>
                    <p>.time</p>
                </div>
                <div class="commu-body">
                    <div class="body-head">
                        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam earum cumque dicta.</h1>
                    </div>
                    <div class="commu1-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, excepturi temporibus? Accusantium illo vel porro consequuntur veniam dolores provident ex! Similique possimus quod nisi officiis non. Illo dolore eos omnis modi voluptatem accusantium? Excepturi.</p>
                    </div>
                    <div class="commu-interact">
                        <img src="./images/message.png " alt="Message">
                    </div>
                </div>
            </div>
            <hr>
            <div class="commu-card">
                <div class="commu-head">
                    <img src="./images/user.png" alt="" />
                    <h1>User name</h1>
                    <p>.time</p>
                </div>
                <div class="commu-body">
                    <div class="body-head">
                        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam earum cumque dicta.</h1>
                    </div>
                    <div class="commu1-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, excepturi temporibus? Accusantium illo vel porro consequuntur veniam dolores provident ex! Similique possimus quod nisi officiis non. Illo dolore eos omnis modi voluptatem accusantium? Excepturi.</p>
                    </div>
                    <div class="commu-interact">
                        <img src="./images/message.png " alt="Message">
                    </div>
                </div>
            </div>
            <hr>
            <div class="commu-card">
                <div class="commu-head">
                    <img src="./images/user.png" alt="" />
                    <h1>User name</h1>
                    <p>.time</p>
                </div>
                <div class="commu-body">
                    <div class="body-head">
                        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam earum cumque dicta.</h1>
                    </div>
                    <div class="commu1-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, excepturi temporibus? Accusantium illo vel porro consequuntur veniam dolores provident ex! Similique possimus quod nisi officiis non. Illo dolore eos omnis modi voluptatem accusantium? Excepturi.</p>
                    </div>
                    <div class="commu-interact">
                        <img src="./images/message.png " alt="Message">
                    </div>
                </div>
            </div>
            <hr>
            <div class="commu-card">
                <div class="commu-head">
                    <img src="./images/user.png" alt="" />
                    <h1>User name</h1>
                    <p>.time</p>
                </div>
                <div class="commu-body">
                    <div class="body-head">
                        <h1>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam earum cumque dicta.</h1>
                    </div>
                    <div class="commu1-body">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, excepturi temporibus? Accusantium illo vel porro consequuntur veniam dolores provident ex! Similique possimus quod nisi officiis non. Illo dolore eos omnis modi voluptatem accusantium? Excepturi.</p>
                    </div>
                    <div class="commu-interact">
                        <img src="./images/message.png " alt="Message">
                    </div>
                </div>
            </div>
            <hr>
        </div>
    </section>
    

    <script src="community.js"></script>
</body>
</html>