<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Community</title>
    <link rel="stylesheet" href="EachCommunity.css">
</head>
<body>
    <section class="EC-sec">
        <div class="EC-all">
            <div class="EC-Topic">
                <div class="ECT-head">
                    <img src="./images/back-arrow.png" alt="Go Back">
                    <img src="./images/user.png" alt="User">
                    <div class="ECT-label">
                        <h4>Health</h4>
                        <h4>Username</h4>
                    </div>
                    <p>.time</p>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>