<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Each Community</title>
    <link rel="stylesheet" href="EachCommunity.css">
</head>
<body>
    <section class="EC-sec">
        <div class="EC-all">
            <div class="EC-Topic">
                <div class="ECT-head">
                    <img src="./images/back-arrow.png" alt="Go Back">
                    <img src="./images/user.png" alt="User">
                    <div class="ECT-label">
                        <h5>Health</h5>
                        <h4>Username</h4>
                    </div>
                    <p>.time</p>
                </div>
                <div class="ECT-body">
                    <div class="ECT-body-head">
                        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, beatae.</h2>
                    </div>
                    <div class="ECT-body-body">
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam porro adipisci ipsa placeat maiores incidunt asperiores rem reiciendis recusandae a dolorem nostrum quo laborum nihil, provident perspiciatis blanditiis quidem assumenda! Deleniti quas amet impedit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam porro adipisci ipsa placeat maiores incidunt asperiores rem reiciendis recusandae a dolorem nostrum quo laborum nihil, provident perspiciatis blanditiis quidem assumenda! Deleniti quas amet impedit.</p>
                    </div>
                    <div class="commu-interact">
                        <img src="./images/message.png " alt="Message">
                    </div>
                    <div class="comment">
                        <label for="comment">
                            <textarea name="comment" id="comment" rows="1"  placeholder="Add a comment"></textarea>
                        </label>
                    </div>

                    <div class="each-comment">
                        <div class="comment-head">
                            <img src="./images/user.png" alt="User">
                            <div class="comment-label">
                                <h4>Username</h4>
                            </div>
                            <p>.time</p>
                        </div>
                        <div class="comment-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, corrupti! Nobis sed necessitatibus, fugit quo blanditiis quae quibusdam a reprehenderit doloribus velit incidunt repellat.</p>
                        </div>
                    </div>
                    <div class="each-comment">
                        <div class="comment-head">
                            <img src="./images/user.png" alt="User">
                            <div class="comment-label">
                                <h4>Username</h4>
                            </div>
                            <p>.time</p>
                        </div>
                        <div class="comment-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, corrupti! Nobis sed necessitatibus, fugit quo blanditiis quae quibusdam a reprehenderit doloribus velit incidunt repellat.</p>
                        </div>
                    </div>
                    <div class="each-comment">
                        <div class="comment-head">
                            <img src="./images/user.png" alt="User">
                            <div class="comment-label">
                                <h4>Username</h4>
                            </div>
                            <p>.time</p>
                        </div>
                        <div class="comment-body">
                            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolore, corrupti! Nobis sed necessitatibus, fugit quo blanditiis quae quibusdam a reprehenderit doloribus velit incidunt repellat.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>